html{
    box-sizing: border-box;
    /*respeta su tamaño original, no permite el desbordamiento*/
    margin: 0;
    padding: 0;
}

*{
    box-sizing: inherit;
}


.header{
    width: 1200px;
    height: 100px;
    background: red;
}

.logo{
    width: 1050px;
    height: 120px;
    background: white;
}

.titulo{
    width: 1000px;
    height: 320px;
    background: yellow;
}
.navegacion{
    background: black;
    width: 1000px;
    height: 100px;
}

.navegacion a{
    display: inline-block;
     /*
    display: block;    lo vuelven en tipo bloque
    display: inline-block; lo vuelve en linea y en bloque a la vez
    
    */
    padding-top: 18px;
    color: green;
    background-color: indigo;
    font-size: 20px;
    padding-left: 15px;
    width: 245px;
    height: 60px;
    border: 1px solid wheat; 
    /*border para borde*/
}

h2{ 
    display: inline; /*vuelve una etiqueta de bloque a...
    una de linea*/
    background: yellow;
 
}
/*BOX MODEL!!!!!!!!!!!!!!!!!!!!111*/

.box{
    background-color:yellow;
    background-clip:content-box; /*el color solo esta en el contenedor que debe de estar*/
    width: 350px;
    height: 180px;
    padding-top:30px ; /*borde interno de arriba o separacion interna*/
    padding-left: 30px; /*separacion de la izquierda*/
    /* separacion de abajo: bottom
        separacion derecha: right
    */
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid black;
    margin-top: 50px;
    /*separacion externa margin
    -top  arriba
    -buttom abajo
    -left  izquierda
    -right derecha
    */
    margin-left: 222px;
}
.padre{
    width: 380px;
    height: 300px;
    background-color: purple;
    margin-left: 70px;
    padding-left: 50px;
    padding-top: 30px;
    box-sizing: border-box; 
    /*
    box-sizing: border-box; 
    con esta propiedad puedes respetar su tamaño de la caja
    no se desborda :v
    */
}

.hijo{
    width: 190px;
    height: 150px;
    background: yellow;
}

/*PORCENTAJES :V*/

.ancho{
    width: 80%;
    height: 50%;
    background-color: red;
    /*
    margin: 0 auto; 
    no es recomentable pero les centrea*/
    
    margin-left: auto;
    margin-right: auto;

    /*las anteriores dos filas tambien sirven para centrear automaticamente*/
}

.ancho2{
    width: 1200px;
    height: 120px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.padre2{
    width: 100%;
    height: 300px;
    background-color: green;

}


/*MANEJO DE ALTURAS*/
.imagen{
    width: 100%;
    height: 75vh;
    /*75% de altura del navegador, con respecto a la pantalla*/
   background-color: green;
    margin-top: 0;
}

.imagen .h1{
    margin-top: 0;
}

.header2{
    width: 100%;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
}
.main2{
    width: 100%;
    height: 450px;
    background-color: yellow;
    margin-bottom: 20px;
    padding-top: 30px;
}

.separador{
    width: 100%;
    height: 300px;
    background-color: green;

}
.separador .h2{
   padding-top: 25px;
}